<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1ecGTpx-D6M/);">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>

<div class="container py-5">
  <% @cocktail.doses.each do |dose| %>
  <%= dose.description %>
  <%= dose.ingredient.name %>
  <%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>

  <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
  <%= link_to "Back to cocktails list", cocktails_path, class:"btn btn-primary" %>
</div>
